

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b4db+0,7db9e8+100,207cca+100 */
    background: rgb(0,180,219); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0,180,219,1) 0%, rgba(125,185,232,1) 100%, rgba(32,124,202,1) 100%); /* FF3.6-15 */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,180,219,1)), color-stop(100%,rgba(125,185,232,1)), color-stop(100%,rgba(32,124,202,1))); /* Chrome4-9,Safari4-5 */
    background: -webkit-linear-gradient(45deg, rgba(0,180,219,1) 0%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -o-linear-gradient(45deg, rgba(0,180,219,1) 0%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* Opera 11.10-11.50 */
    background: -ms-linear-gradient(45deg, rgba(0,180,219,1) 0%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* IE10 preview */
    background: linear-gradient(45deg, rgba(0,180,219,1) 0%,rgba(125,185,232,1) 100%,rgba(32,124,202,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b4db', endColorstr='#207cca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-attachment: fixed;
}


div.segmentOne{

    color: black;





}




/*MenuBar Design*/
ul.menuBar{
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: -webkit-sticky;
    position: sticky;
    overflow: hidden;
    background-color: #bbdefb; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    border-radius : 0px; 
}    
/*  */
li {
    float: left;
}
        
li a{
    display: block;
    color:black;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;                
}

p.wt{
    text-align: center;  
}







.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    /* border-radius: 50%; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin{
    background: #007bb5;
    color: white;   
}
.fa-github{
    background: #007bb5;
    color: white;
}


#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #bbdefb; 
    color: white;
    text-align: center;
}

.footerLabel{
    color: black;
}